@font-face {
  font-family: 'universe';
  src: url('./asset/font/YUniverse-L.ttf');
}
@font-face {
  font-family: 'universe-b';
  src: url('./asset/font/YUniverse-B.ttf');
}

body {
  margin: 0;
  font-family: 'universe';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f4f4f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
